USE [master]
GO
/****** Object:  Database [AndroidKitap]    Script Date: 8.07.2019 21:33:30 ******/
CREATE DATABASE [AndroidKitap]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AndroidKitap', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER1\MSSQL\DATA\AndroidKitap.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AndroidKitap_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER1\MSSQL\DATA\AndroidKitap_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AndroidKitap].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AndroidKitap]
GO
USE [AndroidKitap]
GO
/****** Object:  Table [dbo].[KITAP]    Script Date: 8.07.2019 21:33:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KITAP](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Ad] [nvarchar](50) NULL,
	[Resim] [nvarchar](max) NULL,
	[Fiyat] [float] NULL,
	[Yayimyili] [numeric](4, 0) NULL,
 CONSTRAINT [PK_KITAP] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KITAPYAZAR]    Script Date: 8.07.2019 21:33:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KITAPYAZAR](
	[kitapId] [int] NULL,
	[yazarId] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[YAZAR]    Script Date: 8.07.2019 21:33:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[YAZAR](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Ad] [nvarchar](20) NULL,
	[Soyad] [nvarchar](20) NULL,
 CONSTRAINT [PK_YAZAR] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[KITAPYAZAR]  WITH CHECK ADD  CONSTRAINT [FK_KITAPYAZAR_KITAP] FOREIGN KEY([kitapId])
REFERENCES [dbo].[KITAP] ([Id])
GO
ALTER TABLE [dbo].[KITAPYAZAR] CHECK CONSTRAINT [FK_KITAPYAZAR_KITAP]
GO
ALTER TABLE [dbo].[KITAPYAZAR]  WITH CHECK ADD  CONSTRAINT [FK_KITAPYAZAR_YAZAR] FOREIGN KEY([yazarId])
REFERENCES [dbo].[YAZAR] ([Id])
GO
ALTER TABLE [dbo].[KITAPYAZAR] CHECK CONSTRAINT [FK_KITAPYAZAR_YAZAR]
GO
USE [master]
GO
